<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('查看活动详情')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-activity-details" th:object="${activity}">
			<div class="form-group">
				<label class="col-sm-3 control-label">活动名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{name}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">放号目标：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{targetNums}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">活动内容：</label>
				<div class="col-sm-8">
					<textarea maxlength="500"  class="form-control" readonly rows="3">[[*{content}]]</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<input  size="20" type="text" th:value="*{#dates.format(beginTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<input  size="20" type="text" th:value="*{#dates.format(endTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">地市：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{city}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">活动状态：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{statusName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{createBy}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{#dates.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">修改者：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{updateBy}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{#dates.format(updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
				</div>
			</div>
			<div class="form-group" th:if="*{#strings.toString(status)=='1'||#strings.toString(status)=='4'}">
				<label class="col-sm-3 control-label">接受者：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{acceptName}"/>
				</div>
			</div>
			<div class="form-group" th:if="*{#strings.toString(status)=='1'||#strings.toString(status)=='4'}">
				<label class="col-sm-3 control-label">接受时间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly th:value="*{#dates.format(acceptTime, 'yyyy-MM-dd HH:mm:ss')}"/>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />


</body>

</html>
