<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.corbinhu.campusmarketing.mapper.RoleMapper">


  <sql id="selectFields">
    id, code, name, data_access
  </sql>

  <select id="selectRoleByName" resultType="Role">
    select <include refid="selectFields"/>
    from sys_role
    where name = #{name}
  </select>

  <select id="selectRoleById" resultType="Role">
    select <include refid="selectFields"/>
    from sys_role
    where id = #{id}
  </select>

  <select id="selectRoleList" resultType="Role">
    select <include refid="selectFields"/>
    from sys_role
  </select>
</mapper>